In [3]:
import pandas as pd
nba= pd.read_csv("nba.csv")

In [4]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
nba.head(7)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0

In [6]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [9]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [10]:
nba.shape

(458, 9)

In [11]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [12]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [13]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [14]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [15]:
nba.get_dtype_counts()

float64    4
object     5
dtype: int64

## Difference between Shared Methods

In [17]:
pd.read_csv("revenue.csv", index_col = "Date")

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [18]:
rev= pd.read_csv("revenue.csv", index_col = "Date")

In [19]:
rev.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [20]:
s = pd.Series([1,2,3])

In [21]:
s

0    1
1    2
2    3
dtype: int64

In [22]:
s.sum()

6

In [28]:
s.sum(axis=0)

6

In [23]:
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [24]:
rev.sum(axis = 0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [25]:
rev.sum(axis = 1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [26]:
rev.sum(axis="columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [34]:
rev

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [39]:
# Not good for columns with whitespaces 
rev.Miami

Date
1/1/16     499
1/2/16     534
1/3/16     933
1/4/16     885
1/5/16     253
1/6/16     497
1/7/16     115
1/8/16     886
1/9/16     823
1/10/16    216
Name: Miami, dtype: int64

In [40]:
rev["New York"]

Date
1/1/16     985
1/2/16     738
1/3/16      14
1/4/16     730
1/5/16     114
1/6/16     936
1/7/16     123
1/8/16     935
1/9/16     846
1/10/16     54
Name: New York, dtype: int64

In [42]:
# Returns series 
type(rev["New York"])

pandas.core.series.Series

## Select Two or More Columns from A DataFrame

In [43]:
nba = pd.read_csv("nba.csv")

In [44]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [45]:
nba[["Name","Team"]]

                        Name                    Team
0              Avery Bradley          Boston Celtics
1                Jae Crowder          Boston Celtics
2               John Holland          Boston Celtics
3                R.J. Hunter          Boston Celtics
4              Jonas Jerebko          Boston Celtics
5               Amir Johnson          Boston Celtics
6              Jordan Mickey          Boston Celtics
7               Kelly Olynyk          Boston Celtics
8               Terry Rozier          Boston Celtics
9               Marcus Smart          Boston Celtics
10           Jared Sullinger          Boston Celtics
11             Isaiah Thomas          Boston Celtics
12               Evan Turner          Boston Celtics
13               James Young          Boston Celtics
14              Tyler Zeller          Boston Celtics
15          Bojan Bogdanovic           Brooklyn Nets
16              Markel Brown           Brooklyn Nets
17           Wayne Ellington           Brooklyn Nets
18   Rondae Hollis-Jefferson           Brooklyn Nets
19              Jarrett Jack           Brooklyn Nets
20            Sergey Karasev           Brooklyn Nets
21           Sean Kilpatrick           Brooklyn Nets
22              Shane Larkin           Brooklyn Nets
23               Brook Lopez           Brooklyn Nets
24          Chris McCullough           Brooklyn Nets
25               Willie Reed           Brooklyn Nets
26           Thomas Robinson           Brooklyn Nets
27                Henry Sims           Brooklyn Nets
28              Donald Sloan           Brooklyn Nets
29            Thaddeus Young           Brooklyn Nets
..                       ...                     ...
428          Al-Farouq Aminu  Portland Trail Blazers
429          Pat Connaughton  Portland Trail Blazers
430             Allen Crabbe  Portland Trail Blazers
431                 Ed Davis  Portland Trail Blazers
432         Maurice Harkless  Portland Trail Blazers
433         Gerald Henderson  Portland Trail Blazers
434              Chris Kaman  Portland Trail Blazers
435           Meyers Leonard  Portland Trail Blazers
436           Damian Lillard  Portland Trail Blazers
437            C.J. McCollum  Portland Trail Blazers
438             Luis Montero  Portland Trail Blazers
439            Mason Plumlee  Portland Trail Blazers
440            Brian Roberts  Portland Trail Blazers
441              Noah Vonleh  Portland Trail Blazers
442            Trevor Booker               Utah Jazz
443               Trey Burke               Utah Jazz
444               Alec Burks               Utah Jazz
445               Dante Exum               Utah Jazz
446           Derrick Favors               Utah Jazz
447              Rudy Gobert               Utah Jazz
448           Gordon Hayward               Utah Jazz
449              Rodney Hood               Utah Jazz
450               Joe Ingles               Utah Jazz
451            Chris Johnson               Utah Jazz
452               Trey Lyles               Utah Jazz
453             Shelvin Mack               Utah Jazz
454                Raul Neto               Utah Jazz
455             Tibor Pleiss               Utah Jazz
456              Jeff Withey               Utah Jazz
457                      NaN                     NaN

[458 rows x 2 columns]

In [46]:
type(nba[["Name","Team"]])

pandas.core.frame.DataFrame

In [47]:
# Can reverse the order
nba[["Team","Name"]]

                       Team                     Name
0            Boston Celtics            Avery Bradley
1            Boston Celtics              Jae Crowder
2            Boston Celtics             John Holland
3            Boston Celtics              R.J. Hunter
4            Boston Celtics            Jonas Jerebko
5            Boston Celtics             Amir Johnson
6            Boston Celtics            Jordan Mickey
7            Boston Celtics             Kelly Olynyk
8            Boston Celtics             Terry Rozier
9            Boston Celtics             Marcus Smart
10           Boston Celtics          Jared Sullinger
11           Boston Celtics            Isaiah Thomas
12           Boston Celtics              Evan Turner
13           Boston Celtics              James Young
14           Boston Celtics             Tyler Zeller
15            Brooklyn Nets         Bojan Bogdanovic
16            Brooklyn Nets             Markel Brown
17            Brooklyn Nets          Wayne Ellington
18            Brooklyn Nets  Rondae Hollis-Jefferson
19            Brooklyn Nets             Jarrett Jack
20            Brooklyn Nets           Sergey Karasev
21            Brooklyn Nets          Sean Kilpatrick
22            Brooklyn Nets             Shane Larkin
23            Brooklyn Nets              Brook Lopez
24            Brooklyn Nets         Chris McCullough
25            Brooklyn Nets              Willie Reed
26            Brooklyn Nets          Thomas Robinson
27            Brooklyn Nets               Henry Sims
28            Brooklyn Nets             Donald Sloan
29            Brooklyn Nets           Thaddeus Young
..                      ...                      ...
428  Portland Trail Blazers          Al-Farouq Aminu
429  Portland Trail Blazers          Pat Connaughton
430  Portland Trail Blazers             Allen Crabbe
431  Portland Trail Blazers                 Ed Davis
432  Portland Trail Blazers         Maurice Harkless
433  Portland Trail Blazers         Gerald Henderson
434  Portland Trail Blazers              Chris Kaman
435  Portland Trail Blazers           Meyers Leonard
436  Portland Trail Blazers           Damian Lillard
437  Portland Trail Blazers            C.J. McCollum
438  Portland Trail Blazers             Luis Montero
439  Portland Trail Blazers            Mason Plumlee
440  Portland Trail Blazers            Brian Roberts
441  Portland Trail Blazers              Noah Vonleh
442               Utah Jazz            Trevor Booker
443               Utah Jazz               Trey Burke
444               Utah Jazz               Alec Burks
445               Utah Jazz               Dante Exum
446               Utah Jazz           Derrick Favors
447               Utah Jazz              Rudy Gobert
448               Utah Jazz           Gordon Hayward
449               Utah Jazz              Rodney Hood
450               Utah Jazz               Joe Ingles
451               Utah Jazz            Chris Johnson
452               Utah Jazz               Trey Lyles
453               Utah Jazz             Shelvin Mack
454               Utah Jazz                Raul Neto
455               Utah Jazz             Tibor Pleiss
456               Utah Jazz              Jeff Withey
457                     NaN                      NaN

[458 rows x 2 columns]