In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},index=[0,1,2,3])

In [5]:
df2 = df1 + 'DF2'

In [9]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [13]:
df2

       A      B      C      D
0  A0DF2  B0DF2  C0DF2  D0DF2
1  A1DF2  B1DF2  C1DF2  D1DF2
2  A2DF2  B2DF2  C2DF2  D2DF2
3  A3DF2  B3DF2  C3DF2  D3DF2

In [7]:
df3 = df1 + 'DF3'

In [8]:
df3

       A      B      C      D
0  A0DF3  B0DF3  C0DF3  D0DF3
1  A1DF3  B1DF3  C1DF3  D1DF3
2  A2DF3  B2DF3  C2DF3  D2DF3
3  A3DF3  B3DF3  C3DF3  D3DF3

In [10]:
pd.concat([df1,df2,df3])

       A      B      C      D
0     A0     B0     C0     D0
1     A1     B1     C1     D1
2     A2     B2     C2     D2
3     A3     B3     C3     D3
0  A0DF2  B0DF2  C0DF2  D0DF2
1  A1DF2  B1DF2  C1DF2  D1DF2
2  A2DF2  B2DF2  C2DF2  D2DF2
3  A3DF2  B3DF2  C3DF2  D3DF2
0  A0DF3  B0DF3  C0DF3  D0DF3
1  A1DF3  B1DF3  C1DF3  D1DF3
2  A2DF3  B2DF3  C2DF3  D2DF3
3  A3DF3  B3DF3  C3DF3  D3DF3

In [11]:
pd.concat([df1,df2,df3],axis=1)

    A   B   C   D      A      B      C      D      A      B      C      D
0  A0  B0  C0  D0  A0DF2  B0DF2  C0DF2  D0DF2  A0DF3  B0DF3  C0DF3  D0DF3
1  A1  B1  C1  D1  A1DF2  B1DF2  C1DF2  D1DF2  A1DF3  B1DF3  C1DF3  D1DF3
2  A2  B2  C2  D2  A2DF2  B2DF2  C2DF2  D2DF2  A2DF3  B2DF3  C2DF3  D2DF3
3  A3  B3  C3  D3  A3DF2  B3DF2  C3DF2  D3DF2  A3DF3  B3DF3  C3DF3  D3DF3

In [15]:
pd.merge(df1,df2,how='inner')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [16]:
left = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})

In [17]:
right = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K1','K0','K1'],
                     'C':['A0','A1','A2','A3'],
                     'D':['B0','B1','B2','B3']})

In [18]:
left

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [19]:
right

    C   D key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1

In [20]:
pd.merge(left,right,on=['key1','key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  A0  B0
1  A1  B1   K0   K1  A1  B1
2  A2  B2   K1   K0  A2  B2
3  A3  B3   K2   K1  A3  B3

In [21]:
pd.merge(left,right,how="outer",on=['key1','key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  A0  B0
1  A1  B1   K0   K1  A1  B1
2  A2  B2   K1   K0  A2  B2
3  A3  B3   K2   K1  A3  B3

In [24]:
left.join(right)

ValueError: columns overlap but no suffix specified: Index(['key1', 'key2'], dtype='object')