In [2]:
import pandas as pd
webster = {"A":"Apple",
           "B":"Banana",
           "C":"cherry"}

In [3]:
pd.Series(webster)

A     Apple
B    Banana
C    cherry
dtype: object

In [4]:
# Not numeric indexes 
# Doesn't need to unqiue index
# python list + dictionary => Series

In [5]:
# Series one dimensional data

In [6]:
ice_cream = ['choco','vanilla',"straw","dark"]

In [7]:
pd.Series(ice_cream)

0      choco
1    vanilla
2      straw
3       dark
dtype: object

## Create A series Object from a Python List

In [8]:
ice_cream = ["chococ","van","Straw","Rum"]

In [9]:
new_series  = pd.Series(ice_cream)

In [10]:
new_series

0    chococ
1       van
2     Straw
3       Rum
dtype: object

In [11]:
# Index can be anything it can be numeric or any string 
new_series[0]

'chococ'

In [12]:
new_list = [1,2,3,4,5,6,7,8,9]
new_pd = pd.Series(new_list)
new_pd

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [13]:
new_list = [True,2,3,4,5,6,7,8,9]
new_pd = pd.Series(new_list)
new_pd

0    True
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
dtype: object

In [14]:
new_list = [True,False]
new_pd = pd.Series(new_list)
new_pd

0     True
1    False
dtype: bool

In [15]:
new_pd.values

array([ True, False])

In [16]:
# starting with 0 and goes till 2 with step
new_pd.index

RangeIndex(start=0, stop=2, step=1)

In [17]:
new_pd.dtype

dtype('bool')

In [18]:
new_pd.dtypes

dtype('bool')

## Intro to methods

In [19]:
prices = [2.99,4.45,1.36]

In [20]:
pd.Series(prices)

0    2.99
1    4.45
2    1.36
dtype: float64

In [21]:
s = pd.Series(prices)

In [22]:
s.sum()

8.8

In [23]:
s.argmax()

1

In [24]:
s.argsort()

0    2
1    0
2    1
dtype: int64

In [25]:
s.product()

18.095480000000006

In [26]:
s.mean()

2.9333333333333336

## Parameters and Arguments

In [27]:
# Difficult - Easy,Medium,hard 
# Difficult -> Parameter
# Argument -> Easy

In [28]:
fruit = ["Apple","Mango","Grapes","Cherry"]
index = ["A","B","C","D"]

In [29]:
pd.Series(fruit,index)

A     Apple
B     Mango
C    Grapes
D    Cherry
dtype: object

In [30]:
pd.Series(index,fruit)

Apple     A
Mango     B
Grapes    C
Cherry    D
dtype: object

In [31]:
# Index can have duplicate 
fruit = ["Apple","Mango","Grapes","Cherry"]
index = ["A","B","C","A"]
pd.Series(fruit,index)

A     Apple
B     Mango
C    Grapes
A    Cherry
dtype: object

# Import Series with the read_csv Method

In [32]:
csv = pd.read_csv("pokemon.csv")

In [33]:
csv

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [34]:
csv = pd.read_csv("pokemon.csv",usecols=["Pokemon"])

In [35]:
csv

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
10      Metapod
11   Butterfree
12       Weedle
13       Kakuna
14     Beedrill
15       Pidgey
16    Pidgeotto
17      Pidgeot
18      Rattata
19     Raticate
20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
..          ...
691   Clauncher
692   Clawitzer
693  Helioptile
694   Heliolisk
695      Tyrunt
696   Tyrantrum
697      Amaura
698     Aurorus
699     Sylveon
700    Hawlucha
701     Dedenne
702     Carbink
703       Goomy
704     Sliggoo
705      Goodra
706      Klefki
707    Phantump
708   Trevenant
709   Pumpkaboo
710   Gourgeist
711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [37]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [38]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [39]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [40]:
pokemon.head(n=3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [41]:
pokemon.head(11)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
Name: Pokemon, dtype: object

In [42]:
# Default argument is 5
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object