In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [4]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [5]:
type(df['X'])

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
# Confusing with method 
# But it still works 
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [9]:
df['new']

KeyError: 'new'

In [10]:
df['new'] = df['W'] + 5

In [11]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  7.706850
B  0.651118 -0.319318 -0.848077  0.605965  5.651118
C -2.018168  0.740122  0.528813 -0.589001  2.981832
D  0.188695 -0.758872 -0.933237  0.955057  5.188695
E  0.190794  1.978757  2.605967  0.683509  5.190794

In [12]:
df.drop('new')

ValueError: labels ['new'] not contained in axis

In [13]:
# Not in palce
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  7.706850
B  0.651118 -0.319318 -0.848077  0.605965  5.651118
C -2.018168  0.740122  0.528813 -0.589001  2.981832
D  0.188695 -0.758872 -0.933237  0.955057  5.188695
E  0.190794  1.978757  2.605967  0.683509  5.190794

In [15]:
df.drop('new',axis=1,inplace=True)

In [16]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df.drop('E',axis=0,inplace=True)

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [19]:
df.shape

(4, 4)

In [ ]:
# axis are 0 and 1 
# because of numpy tuple

In [20]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [21]:
# Row
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [23]:
df.loc[['A','B']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [24]:
df.iloc[1]

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [27]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [28]:
df.iloc['C']

TypeError: cannot do positional indexing on <class 'pandas.indexes.base.Index'> with these indexers [C] of <class 'str'>

In [29]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [30]:
df.loc['B','Y']

-0.8480769834036315

In [31]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077